body{
    font-family: 'Bona Nova', serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.name-color{color: rgb(255, 115, 0);}
p{
    font-size: 25px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 70%;
}
.link-hoynh{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 195, 255),blue);
    padding: 10px 20px;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}


.aibar-hobe{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 115, 0),rgb(111, 0, 255));
    padding: 10px 20px;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}
h2{
    font-size: 40px;
    
}
h3{
    font-size: 30px;}
    .half-width-box{
        box-shadow: 10px 10px 40px rgb(0, 0, 0);
        width: 40%;
        height: 50%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 20px;
    }
    #onek{
        background-image: url(ok/download\ \(1\).png);
        
    }
   footer p {
       text-align: center;
       padding-top: 85px;
   }

